.bg-color {
  background: linear-gradient(180deg, #e45464 -13%, #d70018);
}
.ant-popover-inner {
  background: none !important;
  background-clip: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.bg-linear {
  background: linear-gradient(
    177deg,
    hsla(0, 0%, 100%, 0) 2.65%,
    hsla(0, 0%, 100%, 0.14) 97.6%
  );
}
.bg-image {
  background-image: (90deg, #ff512f, #dd2440 51%, #ff512f);
}

.bg-sale {
  background-image: linear-gradient(90deg, #fff5c7, #fffced),
    linear-gradient(90deg, #ffe880, #fffcb0);
}

.bg-check {
  background-image: linear-gradient(233.74deg, #eff5ff -33.75%, #3b82f6 71.83%);
}

.ant-popconfirm-inner-content {
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.067) solid;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2rem;
}
